{% extends "modelos/base.html" %}
{% block contenido %}

<div class="container d-flex align-items-center justify-content-center">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-2 text-center">
            <i class="bi bi-collection-fill"></i>
            <h5 class="mx-2 text-center mt-2">{{ nombre }}</h5>
        </div>

        {% if contenido != "" %}
        <div class="card d-flex justify-content-center">
            <div class="card-header">
                <h5 class="card-title">Contenido</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ contenido }}</p>
            </div>
        </div>
        {% endif %}

        {% if descripcion != "" %}
         <div class="card d-flex justify-content-center mt-4">
            <div class="card-header">
                <h5 class="card-title">Descripción</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ descripcion }}</p>
            </div>
        </div>
        {% endif %}

        {% if extra1 != "" %}
        <div class="card d-flex justify-content-center mt-4">
            <div class="card-header">
                <h5 class="card-title">Extra 1</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ extra1 }}</p>
            </div>
        </div>
        {% endif %}

        {% if extra2 != "" %}
         <div class="card d-flex justify-content-center mt-4">
            <div class="card-header">
                <h5 class="card-title">Extra 2</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ extra2 }}</p>
            </div>
        </div>
        {% endif %}

        {% if extra3 != "" %}
        <div class="card d-flex justify-content-center mt-4">
            <div class="card-header">
                <h5 class="card-title">Extra 3</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ extra3 }}</p>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}